<div class="ui raised very padded text container segment">
	<h2 class="ui header aligned center">Operations</h2>
	<div class="ui vertical labeled icon buttons basic fluid">
		<a class="ui button" href="#/balance/{{session}}">
			<i class="dollar icon"></i>
			Balance
		</a>
		<a class="ui button" href="#/withdraw/{{session}}">
			<i class="money icon"></i>
			Withdraw money
		</a>
		<a class="ui button" href="#/sessions/{{session}}/close">
			<i class="power icon"></i>
			Exit
		</a>
	</div>
</div>