<div class="ui raised very padded text container segment">
	<h2 class="ui header aligned center">Balance for card</h2>
	<h3 class="ui header aligned center" ng-bind="card.cardNumber | cardNumber"></h3>

	<h5 class="ui header aligned right" ng-bind="date | date: 'dd.MM.yyyy'"></h5>
	<h2 class="ui header aligned center" ng-bind="card.balance | currency: '$'"></h2>

	<div class="ui vertical labeled icon buttons basic fluid">
		<a class="ui button" href="#/operations/{{session}}">
			<i class="arrow left icon"></i>
			Back
		</a>
		<a class="ui button">
			<i class="power icon"></i>
			Exit
		</a>
	</div>
</div>