<div class="ui raised very padded text container segment">
	<h2 class="ui header aligned center">
		<div class="content">
			Please enter pin code for card
			<div class="sub header" ng-bind="card.cardNumber | cardNumber"></div>
		</div>
	</h2>


	<p></p>
	<p></p>
	<div class="ui container ">
		<div class="ui right labeled left icon input fluid">
			<input type="text" placeholder="Enter pin code" readonly ng-model="card.pinCode"/>
			<a class="ui tag label">
				Pin
			</a>
		</div>
	</div>

	<div class="ui segment aligned center container num buttons" ng-include="'views/keyboard.html'"></div>
</div>

